{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hotel Checkin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  </head>
  <body>
    <div class="container shadow-lg container bg-white mt-5 mb-5 rounded d-flex justify-content-center align-items-center" s>
      
      <form class="w-100 h-100" action="/update/{{data.id}}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="container"> 
          
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">First Name:</label>  
        <div class="col-sm-4">  
          <input type="text" name="first_name" id="{{data.id}}_first_name" required maxlength="30" value="{{ data.first_name }}" />
          
        </div>  
        <label class="col-sm-2 col-form-label">Last Name:</label>  
        <div class="col-sm-4">  
          <input type="text" name="last_name" id="{{data.id}}_last_name" required maxlength="30" value="{{ data.last_name }}" />
        </div>  
      </div>  
       
        <div class="form-group row">  
          <label class="col-sm-2 col-form-label">Email Address:</label>  
          <div class="col-sm-4">  
            <input type="email" name="email" id="{{data.id}}_email" required maxlength="254" value="{{ data.email }}" />
          </div>  
        <label class="col-sm-2 col-form-label">Age:</label>  
        <div class="col-sm-4">  
          <input type="number" name="age" id="{{data.id}}_age" required value="{{ data.age }}" />
        </div>  
      </div>  
          
    
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Address:</label>      
        <div class="col-sm-8">  
          <textarea name="address" id="{{data.id}}_address" required maxlength="250" >{{ data.address }}</textarea>
        </div>
      </div>    
        <div class="form-group row">  
          <label class="col-sm-2 col-form-label">Additional Services:</label>      
          <div class="col-sm-4">
            <label  for="{{data.id}}_ac">
              <input type="checkbox" name="ac" value="Air Conditioned" id="{{data.id}}_ac" >
              Air Conditioned
            </label>
            <label for="{{data.id}}_pick-up"><input type="checkbox" name="pick-up" value="Free Pick-Up" id="{{data.id}}_pick-up">
              Free Pick-Up</label>
             
             <label for="{{data.id}}_mini-fridge"><input type="checkbox" name="mini-fridge" value="Mini Fridge" id="{{data.id}}_mini-fridge">
              Mini Fridge</label>
             
              <label for="{{data.id}}_gym"><input type="checkbox" name="gym" value="Gym" id="{{data.id}}_gym">
                Gym</label>
          </div>
          <label class="col-sm-2 col-form-label">Gender:</label>      
          <div class="col-sm-4">  
            <label for="id_gender_male"><input type="radio" name="gender" value="Male" id="id_gender_male">
              Male</label>
            <label for="id_gender_female"><input type="radio" name="gender" value="Female" id="id_gender_female">
              Female</label>
            <label for="id_gender_others"><input type="radio" name="gender" value="Others" id="id_gender_others">
              Others</label>
          </div>
      </div>     
      
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Payment Method:</label>      
        <div class="col-sm-4">  
          <select name="payment_method" id="id_payment_method" selected={{data.payment_method}}>
            <option name="CREDIT CARD" value="CREDIT CARD">CREDIT CARD</option>
            <option name="DEBIT CARD" value="DEBIT CARD">DEBIT CARD</option>
            <option name="CASH" value="CASH">CASH</option>
            <option name="UPI" value="UPI">UPI</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label">Room Allocated:</label>      
        <div class="col-sm-4"> 
          <select name="room_allocation" id="id_room_allocation" selected={{data.room_allocation}}>
          <option name="1001" value="1001">1001(1 bed)</option>
          <option name="1002" value="1002">1002(2 beds)</option>
          <option name="1003" value="1003">1003(3 beds)</option>
          <option name="1004" value="1004">1004(4 beds)</option>
          <option name="2001" value="2001">2001(1 bed)</option>
          <option name="2002" value="2002">2002(2 beds)</option>
         </select
        </div>
      </div>   
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Check-In:</label>      
        <div class="col-sm-4">  
          <input type="date" name="checkin" class="form-control" id="id_checkin" value="{{ data.checkin }}">
        </div>
      </div>    
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Check-Out:</label>      
        <div class="col-sm-4">  
          <input type="date" name="checkout" class="form-control" id="id_checkout" value="{{ data.checkout }}">
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Proof of Identitiy Document:</label>      
        <div class="col-sm-4">  
          <input type="file" name="file_field" accept="image/*" id="id_file_field" value="{{ data.file_field }}">
        </div>
      </div>  
    
        <div class="form-group row">  
          <label class="col-sm-1 col-form-label"></label>  
          <div class="col-sm-4">  
          <button type="submit" class="btn btn-primary">Update</button>  
          </div>  
        </div>  
        </div> 
      </form>
    </div>
        
        
         
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>